# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development files
.idea/
*.iml
*.ipr
*.iws

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
